<div class="col-sm-12">
  <% recipe_reviews.each do |recipe_review| %>
    <div class='row'>
      <div class='col-sm-1'>
        <% recipe_review.stars.times do |i| %>
          <img src="/assets/review_star.png" height="12" width="12" title="recipe stars">
        <% end %>
      </div>
      <div class='col-sm-2'><%= link_to recipe_review.title, recipe_recipe_review_path(recipe_review) %></div>
      <div class='col-sm-4'><%= recipe_review.comments.truncate(60) %></div>
    </div>
  <% end %>
</div>
