<div class='row'>
  <div class="col-md-12">
    <h3>Add Recipe Review to <%= @recipe_name %></h3>
  </div>
</div>

<%= render partial: "form", locals: {recipe_review: @recipe_review, url: recipe_recipe_reviews_path(@recipe_review.recipe) } %>
