<div class='row'>
  <div class="col-md-12">
    <h2>
      <%= @recipe_review.recipe_name %> Review
    </h2>
  </div>
</div>

<%= render partial: 'recipe_reviews/review', locals: {review: @recipe_review} %>
