<td>
  <%= f.label :step_number %>
  <%= f.number_field :step_number, step: 1, min: 0 %>
</td>
<td>
  <%= f.label :description %>
  <% rowLength = 45 %>
  <% lineCount = 1 %>
  <% lineCount = f.object.description.length / rowLength if f.object.description%>
  <% textAreaSize = rowLength.to_s + 'x' + lineCount.to_s %>
  <%= f.text_area :description, size:textAreaSize %>
</td>
