<table>
  <% step_counter = 1 %>
  <% steps.each do |step| %>
    <tr>
      <td><%= step_counter %>. </td>
      <td><%= step.description %></td>
      <td><%= link_to image_tag("edit-icon.png",   size:"16"), recipe_recipe_steps_path(step.recipe.id) if policy(@recipe).update? %></td>
      <td><%= link_to(image_tag("delete-icon.png", size:"16"), recipe_recipe_step_path(step.recipe.id, step.id), method: :delete, data: {confirm: "Are you sure!"}) if policy(step.recipe).update? %></td>
    </tr>
    <% step_counter += 1 %>
  <% end %>
</table>
