<table valign="top">
  <% ingredients.each do |ingredient| %>
    <tr>
      <td><%= link_to ingredient.ingredient.name, ingredient.ingredient %></td>
      <td><%= pluralize(number_with_precision(ingredient.quantity, precision: 3), ingredient.unit.name) %></td>
    </tr>
  <% end %>
</table>
