<div class='row'>
  <div class="col-md-12">
    <h2>Edit Recipe</h2>
  </div>
</div>

<%= render partial: "recipe", locals: {recipe: @recipe} %>

<script type='application/javascript' charset='utf-8'>
  $(function () {
console.log('page serialized');
    $('form.edit_recipe').data('serialize',$('form.edit_recipe').serialize()); // On load save form current state
  });

  window.onbeforeunload = function (e) {
      e = e || window.event;
      // For IE and Firefox prior to version 4
      if (e) {
          e.returnValue = 'Any string';
      }
      // For Safari
      return 'Any string';
  };
</script>
