<div class='row'>
  <div class="col-md-12">
    <h2>Recipes
      <%= 'by '            + @user_name if @user_recipes %>
      <%= 'updated after ' + @date      if @updated_after %>
      <%= link_to(image_tag('add-icon.png', size:'16', title: 'Add recipe'), new_recipe_path) if user_signed_in? %>
    </h2>
  </div>
</div>

<%= render partial: "recipes/recipes", locals: {recipes: @recipes} %>
