<div class="col-sm-12">
  <div class='row'>
    <div class="col-sm-1">
      <a class='js-prevRecipe' href="#">&lt;Previous&gt;</a>
    </div>
    <div class="col-sm-1">
      <a class='js-nextRecipe' href="#">&lt;Next&gt;</a>
    </div>
  </div>
  <div class='row recipe-detail'></div>
</div>

<script id="ingredients-template" type="text/x-handlebars-template">
  <table class='table'>
    {{#each this}}
      <tr>
        <td>{{ingredient}}</td>
        <td>{{quantity}}</td>
        <td>{{unit}}</td>
      </tr>
    {{/each}}
  </table>
</script>

<script id="recipe-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="col-sm-12">
      <h1>{{name}} {{{editRecipe recipe_id author_id}}}</h1>
      <p>{{{stars}}}</p>
      <p>{{{submitter}}}</p>
      <p>{{{image}}} {{{favorite}}}</p>
      <p style='width:40%' align='justify'>{{description}}</p>
      <p>Total time: {{total_time}}</p>
      <p>{{{ingredientsHeader}}}</p>
      <p id='ingredients'></p>
      <p>{{{stepsHeader}}}</p>
      <p id='steps'></p>
      <p>{{{reviewsHeader}}}</p>
      <p id='reviews'></p>
    </div>
  {{/each}}
</script>

<script id="reviews-template" type="text/x-handlebars-template">
  <table class='table'>
    {{#each this}}
      <tr>
        <td>{{{stars}}}</td>
        <td>{{{titleHeader}}}</td>
        <td>{{comments}}</td>
      </tr>
    {{/each}}
  </table>
</script>

<script id="steps-template" type="text/x-handlebars-template">
  <table class='table'>
    {{#each this}}
      <tr>
        <td>{{step_number}}</td>
        <td>{{description}}</td>
      </tr>
    {{/each}}
  </table>
</script>

<script type='application/javascript' charset='utf-8'>
$(function () {
  $('.js-nextRecipe').on('click', function(e) { navigateRecipe(e, 'next'); });
  $('.js-prevRecipe').on('click', function(e) { navigateRecipe(e, 'prev'); });

  Handlebars.registerHelper('editRecipe', function(recipe_id, author_id) {
    var author_user_id = parseInt(Handlebars.escapeExpression(author_id));
    var this_user_id = $('body').data('userid');
    if (author_user_id == this_user_id) {
      return new Handlebars.SafeString(
        `<a href="/recipes/${recipe_id}/edit"><img src="/assets/edit-icon.png" height="16" width="16" title="Edit recipe"></a> ` +
        `<a class="js-deleteRecipe" data-recipe-id="${recipe_id}" href="#"><img src="/assets/delete-icon.png" height="16" width="16" title="Delete recipe"></a>`);
    }
  });

  loadRecipe('current');
});
</script>
