<div class="col-sm-12">
  <div class='row'>
    <div class="col-sm-1">
      <a class='js-prevRecipe'>&lt;Previous&gt;</a>
    </div>
    <div class="col-sm-1">
      <a class='js-nextRecipe'>&lt;Next&gt;</a>
    </div>
  </div>
  <div class='row recipe-detail'></div>
</div>

<script id="ingredients-template" type="text/x-handlebars-template">
  {{#each this}}
  <div class='row'>
    <div class='col-sm-2'>{{ingredient}}</div>
    <div class='col-sm-1'>{{quantity}}</div>
    <div class='col-sm-1'>{{unit}}</div>
  </div>
  {{/each}}
</script>

<script id="recipe-template" type="text/x-handlebars-template">
  <div class="col-sm-12">
    <h1>{{name}} {{{editRecipe recipe_id author_id}}}</h1>
    <p>Submitted by <a href='/users/{{user_id}}/recipes'>{{author_name}}</a></p>
    <p>
      <img src='/assets/{{photo_path}}' height='200' width='360' title="{{name}} photo">
      <input type='checkbox' class='favorite' {{favorite}}>Favorite
    </p>
    <p style='width:40%' align='justify'>{{description}}</p>
    <p>Total time: {{total_time}}</p>
    <p>{{{ingredientsHeader}}}</p>
    <p id='ingredients'></p>
    <p>Steps ({{numSteps}})</p>
    <p id='steps'></p>
    <p>Reviews ({{numReviews}})</p>
    <p id='reviews'></p>
  </div>
</script>

<script id="steps-template" type="text/x-handlebars-template">
  {{#each this}}
  <div class='row'>
    <div class='col-sm-1'>{{step_number}}</div>
    <div class='col-sm-4'>{{description}}</div>
  </div>
  {{/each}}
</script>

<script type='text/javascript' charset='utf-8'>
$(function () {
  $('.js-deleteRecipe').on('click', function(e) {
    deleteRecipe(e);
  });

  $('.js-ingredients').on('click', function(e) {
    showIngredients(e);
  });

  $('.js-nextRecipe').on('click', function(e) {
    navigateRecipe(e, 'next');
  });

  $('.js-prevRecipe').on('click', function(e) {
    navigateRecipe(e, 'prev');
  });

  $('.js-steps').on('click', function(e) {
    showSteps(e);
  });

  Handlebars.registerHelper('editRecipe', function(recipe_id, author_id) {
    var author_user_id = parseInt(Handlebars.escapeExpression(author_id));
    var this_user_id = $('body').data('userid');
    if (author_user_id == this_user_id) {
      return new Handlebars.SafeString(
        '<a href="/recipes/' + recipe_id + '/edit"><img src="/assets/edit-icon.png" height="16" width="16" title="Edit recipe"></a> ' +
        '<a class="js-deleteRecipe" href="#"><img src="/assets/delete-icon.png" height="16" width="16" title="Delete recipe"></a>');
    }
  });

  requestRecipe('current');
});
</script>
