<div class='row'>
  <div class="col-md-3">
    <a class='js-prevRecipe' href="#">&lt;Previous&gt;</a>
  </div>
  <div class="col-md-1">
    <a class='js-nextRecipe' href="#">&lt;Next&gt;</a>
  </div>
</div>

<div class='row recipe-detail'></div>

<script id="ingredients-template" type="text/x-handlebars-template">
  <table class='table'>
    {{#each this}}
      <tr>
        <td>{{ingredient}}</td>
        <td>{{quantity}}</td>
        <td>{{unit}}</td>
      </tr>
    {{/each}}
  </table>
</script>

<script id="recipe-template" type="text/x-handlebars-template">
  <div class='row'>
    {{#each this}}
      <div class="col-md-12">
        <h1>{{name}} {{{editRecipe recipe_id author_id}}}</h1>
        <p>{{{stars}}}</p>
        <p>{{{submitter}}}</p>
        <p>{{{image}}} {{{favorite}}}</p>
        <p style='width:40%' align='justify'>{{description}}</p>
        <p>Total time: {{total_time}}</p>
        <p>{{{ingredientsHeader}}}</p>
        <p id='ingredients'></p>
        <p>{{{stepsHeader}}}</p>
        <p id='steps'></p>
        <p>{{{reviewsHeader}}}</p>
        <p id='reviews'></p>
      </div>
    {{/each}}
  </div>
</script>

<script id="reviews-template" type="text/x-handlebars-template">
  <table class='table'>
    <tr>
      <form>
        <tr id='new-review-row'>
          <td>
            <label for='new-review-stars'>Stars</label><br>
            <input type='number' id='new-review-stars' style='width: 7em' min='1', max='5' required>
          </td>
          <td>
            <label for='new-review-title'>Title</label><br>
            <input type='text' id='new-review-title' size='40' required>
          </td>
          <td>
            <label for='new-review-comments'>Comments</label><br>
            <textarea id='new-review-comments' cols='60' rows='1' placeholder='Add a review...' required/>
          </td>
          <td style='vertical-align:bottom'>
            <input class='js-new-review' type='submit' value='Submit'>
          </td>
        </tr>
      </form>
    </tr>
    {{#each this}}
    <tr>
      <td width='10%'>{{{stars}}}</td>
      <td width='25%'>{{{titleHeader}}}</td>
      <td width='40%'>{{comments}}</td>
      <td width='15%'>{{author_name}}</td>
      <td width='10%'>{{created_at}}</td>
    </tr>
    {{/each}}
  </table>
</script>

<script id="steps-template" type="text/x-handlebars-template">
  <table class='table'>
    {{#each this}}
      <tr>
        <td>{{step_number}}</td>
        <td>{{description}}</td>
      </tr>
    {{/each}}
  </table>
</script>

<script type='application/javascript' charset='utf-8'>
$(function () {
  $('.js-nextRecipe').on('click', function(e) { navigateRecipe(e, 'next') });
  $('.js-prevRecipe').on('click', function(e) { navigateRecipe(e, 'prev') });

  Handlebars.registerHelper('editRecipe', function(recipe_id, author_id) {
    var author_user_id = parseInt(Handlebars.escapeExpression(author_id));
    var this_user_id = $('body').data('userid');
    if (author_user_id == this_user_id) {
      return new Handlebars.SafeString(
        `<a href="/recipes/${recipe_id}/edit"><img src="/assets/edit-icon.png" height="16" width="16" title="Edit recipe"></a> ` +
        `<a class="js-deleteRecipe" data-recipe-id="${recipe_id}" href="#"><img src="/assets/delete-icon.png" height="16" width="16" title="Delete recipe"></a>`);
    }
  });

  loadRecipe('current');
});
</script>
