<div class='row'>
  <div class='col-md-12'>
    <table>
      <tr>
        <td><%= image_tag('recipe-cat.jpg', size:'100x180', alt:"Cat in Chef's clothing") %></td>
        <td>The least complete<br>recipe catalog<br>on the internet!</td>
      </tr>
    </table>
  </div>
</div>
