<h1>Welcome to ReceipeCat!</h1>
<p><%= link_to 'Log In', new_user_session_path unless user_signed_in? %></p>
<p><%= link_to 'Sign Up', new_user_registration_path unless user_signed_in? %></p>
<p><%= link_to 'Log Out', destroy_user_session_path, method: 'delete' if user_signed_in?%></p>
